*{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.chumma {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.chumma h1 {
  color: white;
  font-size: 4vw;
  font-weight: normal;
}

.chumma h2 {
  color: white;
  font-size: 2vw;
  font-weight: normal;
}

.header .navbar {
  background-color: transparent !important;
  color: #fff !important;
}

.header .navbar img {
  width: 10% !important;
}

.navbar-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-menu-item{
  margin: 10px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar-menu-item:hover, i:hover, p:hover{
  color: #fff;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.navbar-menu-item p{
  font-size: 20px;
  margin: 0px 10px !important;
}




@media (min-Width: 760px){
  .header .navbar img {
    width: 5% !important;
  }
  
}

@media (min-Width: 992px){

  .navbar-menu{
    display: flex;
    flex-direction: row;
  }
  
}

